.sideBar {
    flex: 0.0001 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #222222;
    display: flex;
    flex-flow: column nowrap;
    transition: flex 0.3s ease;
    &.collapsed {
        flex: 0.0001 1 4em;
        .sideBarHeadLine {
            span {
                width: 0;
                visibility: hidden;
                opacity: 0;
            }
            &:before {
                opacity: 1;
            }
        }
        .row {
            .label {
                display: none;
            }
            .arrow {
                display: none;
            }
        }
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li {
        width: 100%;
        margin: 0;
        list-style-type: none;
        font-size: .825rem;
        color: #212121;
    }
    $selector: "ul";
    @for $i from 1 to 4 {
        $selector: $selector + " ul";
        #{$selector} {
            display: none;
        }
        #{$selector} .row {
            padding-left: $i*10px;
        }
    }  
}