.sidebarLink {
    display: flex;
    flex-flow: row nowrap;
    border-left: 4px solid #fff;
    justify-content: stretch;
    align-items: center;
    height: 2.5rem;
    width: auto;
    cursor: pointer;
    color: black;
    position: relative;
    transition: all .15s ease-in-out;
            &.activeLink {
                + ul {
                    width: auto;
                    height: auto;
                }
            }
            &.activeLink, &:hover {
                color: #2196f3;
                border-left: 4px solid #2196f3;
            }
                .icon {
                    position: relative;
                    flex: 0 0 4em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
                .label {
                    position: relative;
                    flex: 1 0 12em;
                    margin: 0;
                    overflow: hidden;
                    opacity: 1;
                    transition: all .53s ease;
                    @at-root .collapsed & {
                        // display: none;
                        // flex: 0 0 0em;
                        max-width: 0;
                        opacity: 0;
                    }
                }
}