$themes: (
  light: (
    backgroundMainColor: #fafafa,
    backgroundColor: #fff,
    borderColor: #eeeeee,
    borderLeftColor: 4px solid #eee,
    backgroundElements: #ebebeb,
    borderBottom: 1px solid #eee,
    textColor: #212529
  ),
  dark: (
    backgroundMainColor: #212121,
    backgroundColor: #424242,
    backgroundElements: #373737,
    borderLeftColor: 4px solid #373737,
    borderBottom: 1px solid #373737,
    borderColor: #373737,
    textColor: #ddd
  ),
  navbar: (
    textColorNavbar: #ddd,
    backgroundColorNavbar: #424242,
    borderColorNavbar: 1px solid #373737,
    backgroundElementsrNavbar: #373737
  ),
  sidebar: (
    textColorSidebar: #ddd,
    backgroundColorSidebar: #424242,
    borderColorSidebar: 1px solid #373737,
    backgroundElementsrSidebar: #373737,
    borderLeftColorSidebar: 4px solid #373737
  )
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
